.container-fluid{
    /* background-color: hsl(180, 53%, 62%) ; */
  
    color: #f2f3f4;

}
#nav{  border: solid rgb(5, 5, 5) 1px;
 
}
 
body{
    /* background-color: rgb(41, 46, 80) ; */
}
.resume{
    color: rgb(205, 206, 176);
    justify-content: space-between;
    
}
.navbar a {
     display: inline-block;
     font-size: 25px;
     color: #491d1d;
     text-decoration: none;
     font-weight: 500;
     margin-left: 35px;
     transition: .3s;
     opacity: 0;
     animation: slideTop .5s ease forwards;
      
     
}
.nav{
    position: fixed;
    position: relative;
   
}
 
#navbutton{
    background-color: white;
    color: orange;
    border-color: orange;
}
#navbutton:hover {
    color: white;
    background-color: orange;
}

 
/* #NavBar {
    
    overflow: hidden;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }  */
  

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
/* #resume-btn{
    background-color: rgb(255, 0, 68);
    margin-right: 10px;
    border-radius: 20px;
    border-color: brown;
    color: white;
} */
#resume-btn{
    display: inline-block;
    padding: 12px 28px;
    background:#0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

}
#resume-btn :hover{
    color: rgb(0, 255, 4);
    background-color: rgb(187, 66, 66);
}

.abt-img{
    align-items: center;
    margin-top: 80px;
}
 
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;

}

.home-sci {
    text-align: center;
    background-color: #081b29;
 
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background:#0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

}
.btn-box :hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan


}
#carouselExample{
    background-color: white ;
  margin-top: 20px;
  margin-bottom: 2px;
}


.image-container {
    position: relative;
    width: 300px; /* Set the width of your image container */
  }

  .image-container img {
    width: 350px;
    height:  450px;
    display: block;
    border: solid rgb(19, 18, 20) 3px;

  }

  .overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue; /* Adjust the background color and opacity as needed */
    padding: 10px 20px;
    color: #040404; /* Set the text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; /* Hidden by default, visible on hover */
    transition: opacity 0.3s ease-in-out;
  }

  .image-container:hover .overlay-button {
    opacity: 50; /* Visible on hover */
  }
  #tutorial{
    background-color: white;
    margin-top: 25px;
  }